@using Microsoft.AspNetCore.Identity
@using Asp.NetProject.Areas.Identity.Data
@using Primary_HealthCare_System.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" type="image/png" href="~/logos/favicon .ico" />
	<title>@ViewData["Title"] -E-nompilo</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Primary_HealthCare_System.styles.css" asp-append-version="true" />
@* 	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link href="~/css/file.css" rel="stylesheet" />
	<link href="~/css/css/screening.css" rel="stylesheet" />
	<link href="~/css/css/appointments.css" rel="stylesheet" /> *@

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="~/Sidebar/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
	
	@if (User.IsInRole("Patient"))
	{
		<div class="wrapper">
			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="index.html">
						<span class="align-middle">  <img src="~/Logos/3.png" width="220px" /></span>
					</a>

					<ul class="sidebar-nav">
						<li class="sidebar-header">

						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="index.html">
								<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" asp-action="Counselling" asp-controller="Patient">
								<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Dashboard</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Counselling" asp-controller="Appointments" class="sidebar-link">
								<i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Manage Appointment</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Create" asp-controller="Medical_Records" class="sidebar-link">
								<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Session History</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Create" asp-controller="Medical_File" class="sidebar-link">
								<i class="align-middle" data-feather="folder"></i> <span class="align-middle">Medical File</span>
							</a>
						</li>
					
						<li class="sidebar-item">
							<a asp-action="Index" asp-controller="Feedback" class="sidebar-link">
								<i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">FeedBack</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Feed" asp-controller="Feedback" class="sidebar-link">

								<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Quick Chat</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Index" asp-controller="Referals" class="sidebar-link">

								<i class="align-middle" data-feather="help-circle"></i> <span class="align-middle">View referrals</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>

			<div class="main">
				<nav id="NavbarSide" class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle ml-2">
						<i class="hamburger align-self-center"></i>
					</a>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							@if(TempData["Alerts"] != null)
							{
									<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="bell"></i>
										<span class="indicator">@ViewBag.Alerts.Count</span>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
									<div class="dropdown-menu-header">
											@ViewBag.Alerts.Count New Notifications
									</div>
									<div class="list-group">
											@foreach (Alert item in ViewBag.Alerts)
											{
												<a href="#" class="list-group-item">
													<div class="row g-0 align-items-center">
														<div class="col-2">
															<i class="text-danger" data-feather="alert-circle"></i>
														</div>
														<div class="col-10">
															<div class="text-dark">@item.Purpose</div>
															<div class="text-muted small mt-1">@item.Message</div>
															<div class="text-muted small mt-1">@item.date </div>
														</div>
													</div>
												</a>
											}
											
										
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all notifications</a>
									</div>
								</div>
								</li>
							}
							else
							{
								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
										<div class="position-relative">
											<i class="align-middle" data-feather="bell"></i>
											<span class="indicator">0</span>
										</div>
									</a>
									<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
										<div class="dropdown-menu-header">
											0
										</div>
										<div class="list-group">
											
										</div>
										<div class="dropdown-menu-footer">
											<a href="#" class="text-muted">No notifications</a>
										</div>
									</div>
								</li>
							}

							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-square"></i>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
									<div class="dropdown-menu-header">
										<div class="position-relative">
											4 New Messages
										</div>
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Tech-Warriors</div>
													<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
													<div class="text-muted small mt-1">15m ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">William Harris</div>
													<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
													<div class="text-muted small mt-1">2h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Christina Mason">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Christina Mason</div>
													<div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
													<div class="text-muted small mt-1">4h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Sharon Lessman">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Sharon Lessman</div>
													<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
													<div class="text-muted small mt-1">5h ago</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all messages</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<img class="avatar img-fluid rounded me-1" alt="Charles Hall" width="40" height="40" src="https://img.icons8.com/color/48/user.png "/>
									<span class="text-dark">@UserManager.GetUserAsync(User).Result.firstName  @UserManager.GetUserAsync(User).Result.lastName </span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
									<div class="dropdown-divider"></div>
									<form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
										<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<main class="content">
					<div class="container-fluid p-0">
						@RenderBody()
					</div>
				</main>

				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">

							<div class="col-6 text-end">
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Support</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Help Center</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Privacy</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Terms</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	}
	@if (User.IsInRole("Counsellor"))
	{
		<div class="wrapper">
			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="index.html">
						<span class="align-middle">  <img src="~/Logos/3.png" width="220px" /></span>
					</a>

					<ul class="sidebar-nav">
						<li class="sidebar-header">

						</li>

						<li class="sidebar-item">
							<a class="sidebar-link" href="index.html">
								<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
							</a>
						</li>
						<li class="sidebar-item active">
							<a class="sidebar-link " asp-controller="Counselling" asp-action="Counsellor">
								<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Dashboard</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Counselling_Appointments" asp-controller="Appointments" class="sidebar-link">
								<i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Appointments</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Index" asp-controller="Counselling_Sessions" class="sidebar-link">
								<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Manage Sessions</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Create" asp-controller="Medical_File" class="sidebar-link">
								<i class="align-middle" data-feather="folder"></i> <span class="align-middle">Medical Files</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-action="Index" asp-controller="Feedback" class="sidebar-link">
								<i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">Session FeedBacks</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Feed" asp-controller="Feedback" class="sidebar-link">

								<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Quick Chat</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a asp-action="Index" asp-controller="Referals" class="sidebar-link">

								<i class="align-middle" data-feather="help-circle"></i> <span class="align-middle">Referrals</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>

			<div class="main">
				<nav id="NavbarSide" class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle ml-2">
						<i class="hamburger align-self-center"></i>
					</a>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							@if (TempData["Alerts"] != null)
							{
								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
										<div class="position-relative">
											<i class="align-middle" data-feather="bell"></i>
											<span class="indicator">@ViewBag.Alerts.Count</span>
										</div>
									</a>
									<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
										<div class="dropdown-menu-header">
											@ViewBag.Alerts.Count New Notifications
										</div>
										<div class="list-group">
											@foreach (Alert item in ViewBag.Alerts)
											{
												<a href="#" class="list-group-item">
													<div class="row g-0 align-items-center">
														<div class="col-2">
															<i class="text-danger" data-feather="alert-circle"></i>
														</div>
														<div class="col-10">
															<div class="text-dark">@item.Purpose</div>
															<div class="text-muted small mt-1">@item.Message</div>
															<div class="text-muted small mt-1">@item.date</div>
														</div>
													</div>
												</a>
											}


										</div>
										<div class="dropdown-menu-footer">
											<a href="#" class="text-muted">Show all notifications</a>
										</div>
									</div>
								</li>
							}
							else
							{
								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
										<div class="position-relative">
											<i class="align-middle" data-feather="bell"></i>
											<span class="indicator">0</span>
										</div>
									</a>
									<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
										<div class="dropdown-menu-header">
											0
										</div>
										<div class="list-group">
										</div>
										<div class="dropdown-menu-footer">
											<a href="#" class="text-muted">No notifications</a>
										</div>
									</div>
								</li>
							}

							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-square"></i>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
									<div class="dropdown-menu-header">
										<div class="position-relative">
											4 New Messages
										</div>
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Tech-Warriors</div>
													<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
													<div class="text-muted small mt-1">15m ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">William Harris</div>
													<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
													<div class="text-muted small mt-1">2h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Christina Mason">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Christina Mason</div>
													<div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
													<div class="text-muted small mt-1">4h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Sharon Lessman">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Sharon Lessman</div>
													<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
													<div class="text-muted small mt-1">5h ago</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all messages</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<img class="avatar img-fluid rounded me-1" alt="Charles Hall" width="40" height="40" src="https://img.icons8.com/color/48/user.png " />
									<span class="text-dark">@UserManager.GetUserAsync(User).Result.firstName  @UserManager.GetUserAsync(User).Result.lastName </span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
									<div class="dropdown-divider"></div>
									<form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
										<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<main class="content">
					<div class="container-fluid p-0">
						@RenderBody()
					</div>
				</main>

				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">

							<div class="col-6 text-end">
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Support</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Help Center</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Privacy</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Terms</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	}
	else if (User.IsInRole("Counsellor"))
	{


		<div class="wrapper">
			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="index.html">
						<span class="align-left">  <img src="~/Logos/3.png" width="220px" /></span>
					</a>

					<ul class="sidebar-nav">

						<li class="sidebar-item active">
							<a class="sidebar-link" href="index.html">
								<i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
							</a>
						</li>
						<li class="sidebar-item active">
							<a class="sidebar-link" href="index.html">
								<i class="align-middle" data-feather="grid"></i> <span class="align-middle">Dashboard</span>
							</a>
						</li>
						<li class="sidebar-item active">
							<a asp-action="Appointment" asp-controller="Appointments" class="sidebar-link">
								<i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Manage Appointments</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a asp-action="access" asp-controller="Access" class="sidebar-link">
								<i class="align-middle" data-feather="calender"></i> <span class="align-middle">Access Patient List</span>
							</a>
						</li>


						<li class="sidebar-item">
							<a asp-action="record" asp-controller="Record" class="sidebar-link">
								<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Access Patient File</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="pages-sign-up.html">
								<i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Charts</span>
							</a>
						</li>

					</ul>

				</div>
			</nav>

			<div class="main">
				<nav id="NavbarSide" class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle ml-2">
						<i class="hamburger align-self-center"></i>
					</a>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							@if (TempData["Alerts"] != null)
							{
								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
										<div class="position-relative">
											<i class="align-middle" data-feather="bell"></i>
											<span class="indicator">@ViewBag.Alerts.Count</span>
										</div>
									</a>
									<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
										<div class="dropdown-menu-header">
											@ViewBag.Alerts.Count New Notifications
										</div>
										<div class="list-group">
											@foreach (Alert item in ViewBag.Alerts)
											{
												<a href="#" class="list-group-item">
													<div class="row g-0 align-items-center">
														<div class="col-2">
															<i class="text-danger" data-feather="alert-circle"></i>
														</div>
														<div class="col-10">
															<div class="text-dark">@item.Purpose</div>
															<div class="text-muted small mt-1">@item.Message</div>
															<div class="text-muted small mt-1">@item.date </div>
														</div>
													</div>
												</a>
											}


										</div>
										<div class="dropdown-menu-footer">
											<a href="#" class="text-muted">Show all notifications</a>
										</div>
									</div>
								</li>
							}
							else
							{
								<li class="nav-item dropdown">
									<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
										<div class="position-relative">
											<i class="align-middle" data-feather="bell"></i>
											<span class="indicator">0</span>
										</div>
									</a>
									<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
										<div class="dropdown-menu-header">
											0
										</div>
										<div class="list-group">
										</div>
										<div class="dropdown-menu-footer">
											<a href="#" class="text-muted">No notifications</a>
										</div>
									</div>
								</li>
							}

							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
									<div class="position-relative">
										<i class="align-middle" data-feather="message-square"></i>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
									<div class="dropdown-menu-header">
										<div class="position-relative">
											4 New Messages
										</div>
									</div>
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Tech-Warriors</div>
													<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
													<div class="text-muted small mt-1">15m ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="William Harris">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">William Harris</div>
													<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
													<div class="text-muted small mt-1">2h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Christina Mason">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Christina Mason</div>
													<div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
													<div class="text-muted small mt-1">4h ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Sharon Lessman">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">Sharon Lessman</div>
													<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
													<div class="text-muted small mt-1">5h ago</div>
												</div>
											</div>
										</a>
									</div>
									<div class="dropdown-menu-footer">
										<a href="#" class="text-muted">Show all messages</a>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
									<i class="align-middle" data-feather="settings"></i>
								</a>

								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<img class="avatar img-fluid rounded me-1" alt="Charles Hall" width="40" height="40" src="https://img.icons8.com/color/48/user.png " />
									<span class="text-dark">@UserManager.GetUserAsync(User).Result.firstName  @UserManager.GetUserAsync(User).Result.lastName </span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
									<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
									<div class="dropdown-divider"></div>
									<form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
										<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<main class="content">
					<div class="container-fluid p-0">
						@RenderBody()
					</div>
				</main>

				<footer class="footer">
					<div class="container-fluid">
						<div class="row text-muted">

							<div class="col-6 text-end">
								<ul class="list-inline">
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Support</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Help Center</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Privacy</a>
									</li>
									<li class="list-inline-item">
										<a class="text-muted" href="" target="_blank">Terms</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	}
	 <script src="~/Sidebar/js/app.js"></script> 

	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
	 <script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
