@model IEnumerable<Primary_HealthCare_System.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectivenessRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComfortRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunicationRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectivenessRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComfortRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedbackID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedbackID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedbackID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
