@model Primary_HealthCare_System.Models.Medical_File

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Medical_File</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatinetUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatinetUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPersonConact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPersonConact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
