@model IEnumerable<Primary_HealthCare_System.Models.Medical_File>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatinetUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyPersonConact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatinetUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyPersonConact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
